<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h2>User Signup</h2>
    <h3>As <%= role %></h3>
    <form action="/auth/signup" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <div>
            <label for="role">Role:</label>
            <select id="role" name="role" required>
                <option value="<%= role %>"  selected><%= role %></option>
                <% if (role === "Customer") { %>
                    <option value="Business Owner">Business Owner</option>
                <% } else { %>
                    <option value="Customer">Customer</option>
                <% } %>
            </select>
        </div>
        
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
    
</body>
</html>