
  <%- include('./partials/head') %>
  <body>
  <%- include('./partials/nav') %>

  <div class="container-md mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-2">Discover and Book Trusted Services with Ease</h5>
        <hr>
        <p class="card-text">Connect with professionals, explore a variety of services, and secure your appointments effortlessly—all in one place.</p>
        <a href="/services" class="card-link">Browse Services</a>
        <a href="/services/new" class="card-link">List A Service</a>
      </div>
    </div>
  </div>

  <hr>

  <div class="container-fluid mt-3 mb-3">
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card m-auto" style="width: 20rem;">
            <img src="/public/images/serviceimage.png" class="card-img-top" alt="serviceimage">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos labore recusandae libero culpa, rem saepe?</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price</li>
            </ul>
            <div class="card-body">
              <a href="/service/:serviceId" class="card-link">Card link</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card m-auto" style="width: 20rem;">
            <img src="/public/images/serviceimage.png" class="card-img-top" alt="serviceimage">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos labore recusandae libero culpa, rem saepe?</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price</li>
            </ul>
            <div class="card-body">
              <a href="/service/:serviceId" class="card-link">Card link</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card m-auto" style="width: 20rem;">
            <img src="/public/images/serviceimage.png" class="card-img-top" alt="serviceimage">
            <div class="card-body">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos labore recusandae libero culpa, rem saepe?</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price</li>
            </ul>
            <div class="card-body">
              <a href="/service/:serviceId" class="card-link">Card link</a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


  <%- include('./partials/bootstrapJs') %>
</body>
</html>