<%- include('../partials/head') %>
  <body>
  <%- include('../partials/nav') %>
    <h1>Business Owner - Landing Page</h1>

  <button><a href=<%= `/services/created-by/${businessOwnerId}` %>>View my services</a></button>
  <button><a href="/services/new">Create Service</a></button>
</body>
</html>